@use '../../styles/tokens';
@use '../../styles/mixins';

.contextMenu {
  @include mixins.menu-dropdown;
  min-width: tokens.$size-150;
  z-index: 10000;
  font-family: tokens.$font-system;
  font-size: tokens.$font-size-12;
}

.menuItem {
  @include mixins.menu-dropdown-item;
}

.separator {
  height: tokens.$space-1;
  background-color: tokens.$color-border-gray;
  margin: tokens.$space-2 0;
}
