.contextMenu {
    position: absolute;
    background-color: #ffffff;
    border: 1px solid #000000;
    box-shadow: 2px 2px 0px rgba(0, 0, 0, 0.3);
    min-width: 150px;
    z-index: 10000;
    padding: 2px 0;
    font-family: var(--sys-font);
    font-size: 12px;
}

.menuItem {
    padding: 3px 15px;
    cursor: default;
    color: #000000;

    &:hover {
        background-color: #000080;
        color: #ffffff;
    }
}

.separator {
    height: 1px;
    background-color: #808080;
    margin: 2px 0;
}