@use '../../styles/tokens';
@use '../../styles/mixins';

.contextMenu {
  @include mixins.menu-dropdown;
  min-width: 150px;
  z-index: 10000;
  font-family: tokens.$font-system;
  font-size: tokens.$font-size-sm;
}

.menuItem {
  @include mixins.menu-dropdown-item;
}

.separator {
  height: 1px;
  background-color: tokens.$color-border-gray;
  margin: 2px 0;
}
