.desktop {
    width: 100vw;
    height: 100vh;
    background-repeat: repeat;
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.iconContainer {
    flex: 1;
    position: relative;
    width: 100%;
    height: 100%;
}