@use '../../styles/tokens';

.desktopIcon {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: tokens.$size-90;
  cursor: default;

  .iconWrapper {
    position: relative;
    width: tokens.$size-48;
    height: tokens.$size-48;
    margin-bottom: tokens.$space-4;

    img {
      width: 100%;
      height: 100%;
      image-rendering: pixelated;
      object-fit: contain;
    }

    .ditherOverlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: tokens.$color-icon-dither;
      mix-blend-mode: multiply;
      mask-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=");
    }
  }

  .label {
    font-family: tokens.$font-system;
    font-size: tokens.$font-size-12;
    text-align: center;
    padding: tokens.$space-2 tokens.$space-4;
    color: tokens.$color-text;
    background-color: tokens.$color-icon-label-bg;
    border: tokens.$space-1 dotted transparent;
    border-radius: tokens.$space-2;
    text-shadow: none;
  }

  &.selected {
    .iconWrapper img {
      filter: brightness(0.7);
    }

    .label {
      background-color: tokens.$color-selection-bg;
      color: tokens.$color-surface;
      border: tokens.$space-1 dotted tokens.$color-surface;
    }
  }
}
