@use '../../styles/tokens';
@use '../../styles/mixins';

.overlay {
  position: fixed;
  inset: 0;
  background-color: tokens.$color-overlay-light;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: tokens.$z-overlay;
}

.dialog {
  background-color: tokens.$color-surface;
  border: tokens.$space-2 solid tokens.$color-border-dark;
  box-shadow: tokens.$space-3 tokens.$space-3 0 tokens.$color-overlay-dim;
  min-width: tokens.$size-300;
  max-width: tokens.$size-400;
  font-family: tokens.$font-system;

  .titleBar {
    background-color: tokens.$color-border-dark;
    color: tokens.$color-surface;
    padding: tokens.$space-3 tokens.$space-8;
    font-weight: bold;
    font-size: tokens.$font-size-12;
  }

  .content {
    padding: tokens.$space-15;
    min-height: tokens.$size-150;
  }

  .iconPreview {
    text-align: center;
    margin-bottom: tokens.$space-15;

    img {
      width: tokens.$size-48;
      height: tokens.$size-48;
      image-rendering: pixelated;
    }

    .placeholder {
      width: tokens.$size-48;
      height: tokens.$size-48;
      border: tokens.$space-1 solid tokens.$gray-3;
      background-color: tokens.$gray-4;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      color: tokens.$gray-1;
      font-size: tokens.$font-size-18;
    }
  }

  .infoRow {
    margin-bottom: tokens.$space-8;
    display: flex;
    gap: tokens.$space-8;
    font-size: tokens.$font-size-12;
    color: tokens.$color-text;

    label {
      font-weight: bold;
      min-width: tokens.$size-60;
    }

    span {
      flex: 1;
    }
  }

  .buttonBar {
    padding: tokens.$space-10;
    text-align: center;
    border-top: tokens.$space-1 solid tokens.$color-border-gray;
  }

  .button {
    background-color: tokens.$color-toolbar-bg;
    border: tokens.$space-2 outset tokens.$color-border-light;
    padding: tokens.$space-3 tokens.$space-20;
    font-family: tokens.$font-system;
    font-size: tokens.$font-size-12;
    font-weight: bold;
    color: tokens.$color-text;
    cursor: pointer;

    &:active {
      border-style: inset;
    }

    &:hover {
      background-color: tokens.$gray-3;
    }
  }
}
