.menuBar {
    height: 22px;
    background-color: #ffffff !important;
    color: #000000 !important;
    border-bottom: 1px solid #000000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    font-size: 12px;
    font-family: var(--sys-font);
    z-index: 1000;
    position: relative;
}

.left {
    display: flex;
    height: 100%;
}

.menuItem {
    padding: 0 12px;
    height: 100%;
    display: flex;
    align-items: center;
    cursor: default;
    position: relative;
    color: #000000;

    &:hover {
        background-color: #000000 !important;
        color: #ffffff !important;
    }

    &.active {
        background-color: #000000 !important;
        color: #ffffff !important;
    }
}

.appleLogo {
    padding-left: 10px;
    padding-right: 10px;

    img {
        height: 14px;
        image-rendering: pixelated;
    }
}

.right {
    display: flex;
    align-items: center;
}

.clock {
    font-weight: bold;
    padding-left: 10px;
}

.dropdown {
    position: absolute;
    top: 22px;
    left: 0;
    background-color: #ffffff;
    border: 1px solid #000000;
    box-shadow: 2px 2px 0px rgba(0, 0, 0, 0.2);
    min-width: 200px;
    z-index: 2000;
    padding: 2px 0;
    color: #000000;
}

.dropdownItem {
    padding: 3px 15px;
    cursor: default;
    color: #000000;
    font-family: var(--sys-font);
    font-size: 12px;

    &:hover {
        background-color: #000080;
        color: #ffffff;
    }

    &.disabled {
        color: #888888;
        cursor: default;

        &:hover {
            background-color: transparent;
            color: #888888;
        }
    }
}

.separator {
    height: 1px;
    background-color: #000000;
    margin: 2px 0;
}