@use '../../styles/tokens';
@use '../../styles/mixins';

.menuBar {
  @include mixins.menu-bar;

  .left {
    display: flex;
    height: 100%;
  }

  .menuItem {
    @include mixins.menu-item;
  }

  .appleLogo {
    padding-left: tokens.$space-12;
    padding-right: tokens.$space-12;

    img {
      height: tokens.$size-14;
      image-rendering: pixelated;
    }
  }

  .right {
    display: flex;
    align-items: center;
  }

  .clock {
    font-weight: bold;
    padding-left: tokens.$space-12;
  }

  .dropdown {
    @include mixins.menu-dropdown;

    .dropdownItem {
      @include mixins.menu-dropdown-item;
    }

    .separator {
      height: tokens.$space-1;
      background-color: tokens.$color-border-dark;
      margin: tokens.$space-2 0;
    }
  }
}
