@use '../../styles/tokens';
@use '../../styles/mixins';

.menuBar {
  @include mixins.menu-bar;

  .left {
    display: flex;
    height: 100%;
  }

  .menuItem {
    @include mixins.menu-item;
  }

  .appleLogo {
    padding-left: 10px;
    padding-right: 10px;

    img {
      height: 14px;
      image-rendering: pixelated;
    }
  }

  .right {
    display: flex;
    align-items: center;
  }

  .clock {
    font-weight: bold;
    padding-left: 10px;
  }

  .dropdown {
    @include mixins.menu-dropdown;

    .dropdownItem {
      @include mixins.menu-dropdown-item;
    }

    .separator {
      height: 1px;
      background-color: tokens.$color-border-dark;
      margin: 2px 0;
    }
  }
}
