.window {
    position: absolute;
    background-color: #dddddd;
    border: 1px solid #000000;
    box-shadow: 2px 2px 0px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    padding: 1px;
}

.titleBar {
    height: 18px;
    background: repeating-linear-gradient(90deg,
            #dddddd,
            #dddddd 2px,
            #aaaaaa 2px,
            #aaaaaa 4px);
    border-bottom: 1px solid #000000;
    display: flex;
    align-items: center;
    padding: 0 4px;
    cursor: default;
    user-select: none;
}

.active .titleBar {
    background: repeating-linear-gradient(90deg,
            #dddddd,
            #dddddd 2px,
            #000000 2px,
            #000000 4px);
}

.closeBox {
    width: 12px;
    height: 12px;
    background-color: #ffffff;
    border: 1px solid #000000;
    margin-right: 4px;
    position: relative;
    cursor: pointer;

    &:active {
        background-color: #000000;
    }
}

.title {
    flex: 1;
    display: flex;
    justify-content: center;
    background-color: #dddddd;
    margin: 0 4px;
    padding: 0 4px;
}

.titleText {
    font-family: var(--sys-font);
    font-weight: bold;
    font-size: 11px;
    color: #000000;
    background-color: #dddddd;
    padding: 0 5px;
}

.contentOuter {
    flex: 1;
    border: 1px solid #ffffff;
    border-right-color: #808080;
    border-bottom-color: #808080;
    margin: 2px;
    background-color: #ffffff;
    overflow: hidden;
    position: relative;
}

.content {
    width: 100%;
    height: 100%;
    overflow: auto;
    padding: 5px;
    font-family: 'Geneva', sans-serif;
    font-size: 12px;
    color: #000000;
}

.zoomBox,
.collapseBox {
    width: 12px;
    height: 12px;
    background-color: #dddddd;
    border: 1px solid #000000;
    margin-left: 4px;
    position: relative;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;

    &:active {
        background-color: #aaaaaa;
    }
}

.zoomInner {
    width: 6px;
    height: 6px;
    border: 1px solid #000000;
    border-top: 2px solid #000000;
}

.collapseInner {
    width: 8px;
    height: 2px;
    background-color: #000000;
    border-top: 1px solid #000000;
    border-bottom: 1px solid #000000;
}