@use '../../styles/tokens';

.about {
  padding: 20px;
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: flex-start;
  background-color: tokens.$color-window-bg;
  font-family: tokens.$font-system;
  color: tokens.$color-text;

  .logo {
    img {
      width: 64px;
      image-rendering: pixelated;
    }
  }

  .info {
    flex: 1;

    h2 {
      margin: 0 0 10px 0;
      font-size: 18px;
    }

    p {
      margin: 5px 0;
      font-size: tokens.$font-size-sm;
    }
  }

  .copyright {
    font-size: 10px;
    color: tokens.$color-text;
    margin-top: 10px;
  }

  .memory {
    margin-top: 15px;
    border-top: 1px solid tokens.$color-disabled-text;
    padding-top: 5px;
  }
}
