@use '../../styles/tokens';

.about {
  padding: tokens.$space-20;
  display: flex;
  flex-direction: row;
  gap: tokens.$space-20;
  align-items: flex-start;
  background-color: tokens.$color-window-bg;
  font-family: tokens.$font-system;
  color: tokens.$color-text;

  .logo {
    img {
      width: tokens.$size-64;
      image-rendering: pixelated;
    }
  }

  .info {
    flex: 1;

    h2 {
      margin: 0 0 tokens.$space-10 0;
      font-size: tokens.$font-size-18;
    }

    p {
      margin: tokens.$space-5 0;
      font-size: tokens.$font-size-12;
    }
  }

  .copyright {
    font-size: tokens.$font-size-10;
    color: tokens.$color-text;
    margin-top: tokens.$space-10;
  }

  .memory {
    margin-top: tokens.$space-15;
    border-top: tokens.$space-1 solid tokens.$color-text-disabled;
    padding-top: tokens.$space-5;
  }
}
