@use '../../styles/tokens';
@use '../../styles/mixins';

.backgroundSwitcher {
  padding: tokens.$space-16;
  background-color: tokens.$color-toolbar-bg;
  font-family: tokens.$font-system;
  height: 100%;
  display: flex;
  flex-direction: column;

  .header {
    margin-bottom: tokens.$space-12;
    padding-bottom: tokens.$space-8;
    border-bottom: tokens.$space-1 solid tokens.$color-border-gray;

    h3 {
      margin: 0;
      font-size: tokens.$font-size-14;
      font-weight: bold;
      color: tokens.$color-text;
    }
  }

  .controls {
    padding: tokens.$space-8 tokens.$space-4;
    border-bottom: tokens.$space-1 solid tokens.$color-border-gray;
    margin-bottom: tokens.$space-8;
  }

  .modeGroup {
    display: flex;
    align-items: center;
    gap: tokens.$space-12;

    label {
      font-size: tokens.$font-size-12;
      font-weight: bold;
    }
  }

  .buttonGroup {
    display: flex;
    gap: tokens.$space-4;
  }

  .modeButton {
    padding: tokens.$space-4 tokens.$space-12;

    @include mixins.toolbar-toggle-button;
    font-family: tokens.$font-system;
    font-size: tokens.$font-size-11;
    min-width: tokens.$size-60;
  }

  .grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: tokens.$space-16;
    overflow-y: auto;
    padding: tokens.$space-4;
  }

  .preview {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: tokens.$space-8;
    cursor: pointer;
    background-color: tokens.$color-toolbar-bg;
    border-top: tokens.$space-2 solid tokens.$color-border-light;
    border-left: tokens.$space-2 solid tokens.$color-border-light;
    border-right: tokens.$space-2 solid tokens.$color-border-gray;
    border-bottom: tokens.$space-2 solid tokens.$color-border-gray;

    @include mixins.hover-brighten;

    &:active {
      border-top: tokens.$space-2 solid tokens.$color-border-gray;
      border-left: tokens.$space-2 solid tokens.$color-border-gray;
      border-right: tokens.$space-2 solid tokens.$color-border-light;
      border-bottom: tokens.$space-2 solid tokens.$color-border-light;
    }

    &.selected {
      background-color: tokens.$color-selection-bg;

      .name {
        color: tokens.$color-surface;
      }

      .imageContainer {
        border: tokens.$space-2 solid tokens.$color-surface;
        box-shadow: 0 0 0 tokens.$space-1 tokens.$color-selection-bg;
      }
    }
  }

  .imageContainer {
    width: 100%;
    aspect-ratio: 4 / 3;
    overflow: hidden;
    background-color: tokens.$color-border-dark;
    margin-bottom: tokens.$space-6;
    border-top: tokens.$space-2 solid tokens.$color-border-gray;
    border-left: tokens.$space-2 solid tokens.$color-border-gray;
    border-right: tokens.$space-2 solid tokens.$color-border-light;
    border-bottom: tokens.$space-2 solid tokens.$color-border-light;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      display: block;
      image-rendering: auto;
    }
  }

  .name {
    font-size: tokens.$font-size-11;
    text-align: center;
    color: tokens.$color-text;
    overflow-wrap: break-word;
    max-width: 100%;
  }
}
