@use '../../styles/tokens';
@use '../../styles/mixins';

.calculator {
  padding: tokens.$space-10;
  background-color: tokens.$color-window-bg;
  display: flex;
  flex-direction: column;
  gap: tokens.$space-10;

  .display {
    background-color: tokens.$color-surface;
    border: tokens.$space-1 solid tokens.$color-border-gray;
    border-bottom-color: tokens.$color-surface;
    border-right-color: tokens.$color-surface;
    padding: tokens.$space-5;
    text-align: right;
    font-family: tokens.$font-mono;
    font-size: tokens.$font-size-18;
    height: tokens.$size-30;
    line-height: tokens.$size-30;
    color: tokens.$color-text;
    box-shadow: tokens.$shadow-display-inset;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  .keypad {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: tokens.$space-5;
  }

  button {
    width: tokens.$size-30;
    height: tokens.$size-30;
    @include mixins.retro-button;
  }

  .clear {
    grid-column: span 1;
    background-color: tokens.$color-button-clear;
  }

  .plus {
    grid-row: span 2;
    height: tokens.$size-65;
  }

  .equals {
    grid-row: span 2;
    height: tokens.$size-65;
    background-color: tokens.$color-button-equals;
  }

  .zero {
    grid-column: span 2;
    width: tokens.$size-65;
  }
}
