@use '../../styles/tokens';
@use '../../styles/mixins';

.calculator {
  padding: tokens.$space-lg;
  background-color: tokens.$color-window-bg;
  display: flex;
  flex-direction: column;
  gap: tokens.$space-lg;

  .display {
    background-color: tokens.$color-surface;
    border: 1px solid tokens.$color-border-gray;
    border-bottom-color: tokens.$color-surface;
    border-right-color: tokens.$color-surface;
    padding: tokens.$space-sm;
    text-align: right;
    font-family: tokens.$font-mono;
    font-size: tokens.$font-size-lg;
    height: 30px;
    line-height: 30px;
    color: tokens.$color-text;
    box-shadow: tokens.$shadow-display-inset;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  .keypad {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: tokens.$space-sm;
  }

  button {
    width: 30px;
    height: 30px;
    @include mixins.retro-button;
  }

  .clear {
    grid-column: span 1;
    background-color: #ffcccc;
  }

  .plus {
    grid-row: span 2;
    height: 65px;
  }

  .equals {
    grid-row: span 2;
    height: 65px;
    background-color: #ccffcc;
  }

  .zero {
    grid-column: span 2;
    width: 65px;
  }
}
