.calculator {
    padding: 10px;
    background-color: #dddddd;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.display {
    background-color: #ffffff;
    border: 1px solid #808080;
    border-bottom-color: #ffffff;
    border-right-color: #ffffff;
    padding: 5px;
    text-align: right;
    font-family: 'Courier New', monospace;
    font-size: 18px;
    height: 30px;
    line-height: 30px;
    color: #000000;
    box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.keypad {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
}

button {
    width: 30px;
    height: 30px;
    font-family: var(--sys-font);
    font-size: 14px;
    font-weight: bold;
    color: #000000;
    background-color: #dddddd;
    border: 1px solid #000000;
    border-top-color: #ffffff;
    border-left-color: #ffffff;
    box-shadow: 1px 1px 0px #000000;
    cursor: pointer;

    &:active {
        border-top-color: #000000;
        border-left-color: #000000;
        border-bottom-color: #ffffff;
        border-right-color: #ffffff;
        box-shadow: none;
        transform: translate(1px, 1px);
    }
}

.clear {
    grid-column: span 1;
    background-color: #ffcccc;
}

.plus {
    grid-row: span 2;
    height: 65px;
}

.equals {
    grid-row: span 2;
    height: 65px;
    background-color: #ccffcc;
}

.zero {
    grid-column: span 2;
    width: 65px;
}