@use '../../styles/tokens';
@use '../../styles/mixins';

.calculator {
  height: 100%;
  padding: tokens.$space-8;
  background-color: tokens.$color-window-bg;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: tokens.$space-4;

  .display {
    grid-column: 1 / -1;
    margin-bottom: tokens.$space-4;
    background-color: tokens.$color-surface;
    border: tokens.$space-1 solid tokens.$color-border-gray;
    border-bottom-color: tokens.$color-surface;
    border-right-color: tokens.$color-surface;
    padding: 0 tokens.$space-4;
    text-align: right;
    font-family: tokens.$font-mono;
    font-size: tokens.$font-size-18;
    height: tokens.$size-30;
    color: tokens.$color-text;
    box-shadow: tokens.$shadow-display-inset;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  button {
    width: 100%;
    height: 100%;
    min-height: tokens.$size-30;

    @include mixins.retro-button;
  }

  .clear {
    grid-column: span 1;
    background-color: tokens.$color-button-clear;
  }

  .plus {
    grid-row: span 2;
  }

  .equals {
    grid-row: span 2;
    background-color: tokens.$color-button-equals;
  }

  .zero {
    grid-column: span 2;
  }
}
