@use '../../styles/tokens';
@use '../../styles/mixins';

.textEditor {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: tokens.$color-surface;
  font-family: tokens.$font-system;

  /* Toolbar */
  .toolbar {
    @include mixins.toolbar-strip;
    gap: tokens.$space-4;
    min-height: tokens.$size-32;
  }

  .fontSelect,
  .sizeSelect {
    padding: tokens.$space-2 tokens.$space-4;
    border: tokens.$space-1 inset tokens.$color-border-gray;
    background-color: tokens.$color-surface;
    font-family: tokens.$font-system;
    font-size: tokens.$font-size-11;
    height: tokens.$size-22;
  }

  .fontSelect {
    min-width: tokens.$size-100;
  }

  .sizeSelect {
    min-width: tokens.$size-50;
  }

  .separator {
    width: tokens.$space-1;
    height: tokens.$size-20;
    background-color: tokens.$color-border-gray;
    margin: 0 tokens.$space-4;
  }

  .styleButton {
    width: tokens.$size-28;
    height: tokens.$size-24;
    @include mixins.toolbar-toggle-button;
    font-size: tokens.$font-size-14;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .saveButton {
    padding: tokens.$space-3 tokens.$space-12;
    border: tokens.$space-2 outset tokens.$color-border-light;
    background-color: tokens.$color-gray-light;
    cursor: pointer;
    font-family: tokens.$font-system;
    font-size: tokens.$font-size-11;
    font-weight: bold;
    color: tokens.$color-text;

    &:hover {
      background-color: tokens.$color-gray-lighter;
    }

    &:active {
      border-style: inset;
    }

    &.dirty {
      background-color: tokens.$color-text-selection;
    }
  }

  .helpButton {
    width: tokens.$size-24;
    height: tokens.$size-24;
    border: tokens.$space-2 outset tokens.$color-border-light;
    background-color: tokens.$color-gray-light;
    cursor: pointer;
    font-family: tokens.$font-system;
    font-size: tokens.$font-size-14;
    font-weight: bold;
    color: tokens.$color-text;
    margin-left: tokens.$space-4;

    &:hover {
      background-color: tokens.$color-gray-lighter;
    }

    &:active {
      border-style: inset;
    }
  }

  /* Ruler */
  .ruler {
    display: flex;
    height: tokens.$size-20;
    background-color: tokens.$color-gray-ultralight;
    border-bottom: tokens.$space-1 solid tokens.$color-border-gray;
    padding: 0 tokens.$space-10;
    font-size: tokens.$font-size-9;
    font-family: tokens.$font-mono;
    color: tokens.$color-gray-medium;
    align-items: center;
    position: relative;
    overflow: hidden;
  }

  .rulerMark {
    position: absolute;
    font-size: tokens.$font-size-8;

    &:nth-child(1) {
      left: tokens.$ruler-pos-1;
    }

    &:nth-child(2) {
      left: tokens.$ruler-pos-2;
    }

    &:nth-child(3) {
      left: tokens.$ruler-pos-3;
    }

    &:nth-child(4) {
      left: tokens.$ruler-pos-4;
    }

    &:nth-child(5) {
      left: tokens.$ruler-pos-5;
    }

    &:nth-child(6) {
      left: tokens.$ruler-pos-6;
    }

    &:nth-child(7) {
      left: tokens.$ruler-pos-7;
    }

    &:nth-child(8) {
      left: tokens.$ruler-pos-8;
    }

    &:nth-child(9) {
      left: tokens.$ruler-pos-9;
    }

    &:nth-child(10) {
      left: tokens.$ruler-pos-10;
    }
  }

  /* Editor Area */
  .editorArea {
    flex: 1;
    overflow: auto;
    background-color: tokens.$color-surface;
  }

  .content {
    padding: tokens.$space-10;
    outline: none;
    min-height: 100%;
    line-height: 1.4;
    color: tokens.$color-text;
    caret-color: tokens.$color-text;

    &:empty::before {
      content: attr(data-placeholder);
      color: tokens.$color-border-gray;
    }
  }

  /* Status Bar */
  .statusBar {
    display: flex;
    align-items: center;
    gap: tokens.$space-8;
    padding: tokens.$space-2 tokens.$space-8;
    @include mixins.status-bar;
    min-height: tokens.$size-20;
  }

  .divider {
    color: tokens.$color-border-gray;
  }

  /* Help Dialog */
  .helpOverlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10000;
  }

  .helpDialog {
    background-color: tokens.$color-surface;
    border: tokens.$space-2 solid tokens.$color-border-dark;
    box-shadow: tokens.$shadow-dialog;
    min-width: tokens.$size-400;
    max-width: tokens.$size-500;
    font-family: tokens.$font-system;
  }

  .helpTitle {
    background-color: tokens.$color-border-dark;
    color: tokens.$color-surface;
    padding: tokens.$space-4 tokens.$space-8;
    font-weight: bold;
    font-size: tokens.$font-size-12;
  }

  .helpContent {
    padding: tokens.$space-15;
    font-size: tokens.$font-size-12;
    color: tokens.$color-text;
    max-height: tokens.$size-400;
    overflow-y: auto;

    h3 {
      margin: tokens.$space-10 0 tokens.$space-5 0;
      font-size: tokens.$font-size-13;
      font-weight: bold;
    }

    ul {
      margin: tokens.$space-5 0;
      padding-left: tokens.$space-20;
    }

    li {
      margin: tokens.$space-5 0;
      line-height: 1.4;
    }

    strong {
      font-weight: bold;
      color: tokens.$color-selection-bg;
    }
  }

  .helpButtons {
    padding: tokens.$space-10;
    text-align: center;
    border-top: tokens.$space-1 solid tokens.$color-border-gray;
  }

  .okButton {
    padding: tokens.$space-4 tokens.$space-20;
    border: tokens.$space-2 outset tokens.$color-border-light;
    background-color: tokens.$color-gray-light;
    cursor: pointer;
    font-family: tokens.$font-system;
    font-size: tokens.$font-size-11;
    font-weight: bold;
    color: tokens.$color-text;

    &:hover {
      background-color: tokens.$color-gray-lighter;
    }

    &:active {
      border-style: inset;
    }
  }
}
