@use '../../styles/tokens';
@use '../../styles/mixins';

.tictactoe {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;

  .status {
    font-family: tokens.$font-system;
    font-size: 14px;
    font-weight: bold;
    color: tokens.$color-text;
    margin-bottom: 5px;
  }

  .board {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2px;
    background-color: tokens.$color-border-dark;
    border: 2px solid tokens.$color-border-dark;
  }

  .square {
    width: 40px;
    height: 40px;
    background-color: tokens.$color-surface;
    border: none;
    font-family: tokens.$font-system;
    font-size: 24px;
    font-weight: bold;
    color: tokens.$color-text;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
      background-color: tokens.$gray-3;
    }
  }

  .reset {
    margin-top: 10px;
    padding: 5px 10px;
    font-family: tokens.$font-system;
    font-weight: bold;
    color: tokens.$color-text;
    background-color: tokens.$color-window-bg;
    border: 1px solid tokens.$color-border-dark;
    box-shadow: 1px 1px 0px tokens.$color-border-dark;
    cursor: pointer;

    &:active {
      box-shadow: none;
      transform: translate(1px, 1px);
    }
  }
}
