.tictactoe {
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.status {
    font-family: var(--sys-font);
    font-size: 14px;
    font-weight: bold;
    color: #000000;
    margin-bottom: 5px;
}

.board {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2px;
    background-color: #000000;
    border: 2px solid #000000;
}

.square {
    width: 40px;
    height: 40px;
    background-color: #ffffff;
    border: none;
    font-family: var(--sys-font);
    font-size: 24px;
    font-weight: bold;
    color: #000000;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
        background-color: #eeeeee;
    }
}

.reset {
    margin-top: 10px;
    padding: 5px 10px;
    font-family: var(--sys-font);
    font-weight: bold;
    color: #000000;
    background-color: #dddddd;
    border: 1px solid #000000;
    box-shadow: 1px 1px 0px #000000;
    cursor: pointer;

    &:active {
        box-shadow: none;
        transform: translate(1px, 1px);
    }
}