@use '../../styles/tokens';
@use '../../styles/mixins';

.tictactoe {
  padding: tokens.$space-10;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: tokens.$space-10;

  .status {
    font-family: tokens.$font-system;
    font-size: tokens.$font-size-14;
    font-weight: bold;
    color: tokens.$color-text;
    margin-bottom: tokens.$space-5;
  }

  .board {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: tokens.$space-2;
    background-color: tokens.$color-border-dark;
    border: tokens.$space-2 solid tokens.$color-border-dark;
  }

  .square {
    width: tokens.$size-40;
    height: tokens.$size-40;
    background-color: tokens.$color-surface;
    border: none;
    font-family: tokens.$font-system;
    font-size: tokens.$font-size-24;
    font-weight: bold;
    color: tokens.$color-text;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
      background-color: tokens.$color-window-bg;
    }
  }

  .reset {
    margin-top: tokens.$space-10;
    padding: tokens.$space-5 tokens.$space-10;
    @include mixins.retro-button;
  }
}
